 <%= turbo_frame_tag 'login' do %> 
  <div class="bg-gray-600 min-h-screen w-full flex flex-col justify-center items-left">
    <h2 class="text-white text-left text-xl font-semibold mb-4">Sign up</h2> 

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "w-full max-w-xs") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-2">
        <%= f.label :email, class: "block text-sm font-medium text-white" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full bg-transparent text-white border border-gray-500 rounded-md p-1.5" %>
      </div>

      <div class="field mb-2">
        <%= f.label :password, class: "block text-sm font-medium text-white" %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-300">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "block w-full bg-transparent text-white border border-gray-500 rounded-md p-1.5" %>
      </div>

      <div class="field mb-2">
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-white" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full bg-transparent text-white border border-gray-500 rounded-md p-1.5" %>
      </div>

      <div class="actions flex flex-col gap-2">
        <%= f.submit "Sign up", class: "w-full bg-[#1F1F24] text-white font-bold py-2 px-3 rounded-md hover:bg-indigo-700" %>

        <%= link_to "Log in", new_session_path(resource_name), class: "w-full bg-[#1F1F24] text-white font-bold py-2 px-3 rounded-md hover:bg-indigo-700 text-center" %><br />
      </div>
    <% end %>
  </div>
<% end %>


